<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page using ejs</title>
  </head>
  <body>
    <%- include('common/header'); %>
    <h1>Profile Page using ejs</h1>
    <h2>Welcome <%= user.name%></h2>
    <h3>Your email id is <%= user.email%></h3>
    <h4>Your skills are:</h4>
    <ul>
      <% user.skills.forEach((item)=>{%>
      <li><%= item %></li>
      <% })%>
    </ul>
  </body>
</html>
